[Unit]
Description=Office Air Quality Data Storage 
After=mosquitto.service 
Requires=mosquitto.service
[Service]
ExecStart=/home/alarm/bin/office_air_quality_data_storage.py
RestartSec=30
Restart=on-failure
[Install]
WantedBy=default.target
